#portHeader,
#portFooter {
  border: 1px solid #3d3d3d;
  background-image: url(https://cdn1.bbcode0.com/uploads/2020/7/12/7fcc6a6…-full.png);
  background-size: 43%;
  background-position-x: Center;
  background-repeat: no-repeat;
  background-color: darkcyan;
}
#portHeader h1,
#portHeader p {
  font-weight: normal;
  margin: 0.8em 0;
  font-family: initial;
}
#portHeader h1,
#portHeader p {
  font-weight: 1000;
  margin: 0.8em 0;
  font-family: initial;
  text-align: center;
}
element.style {
  width: 20%;
  float: right;
  position: relative;
  margin-left: 20px;
}
#portText h2,
#portText h3 {
  color: white;
}
#portBody {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  background-size: cover;
}
#portText h3.section-title {
  font-size: 180%;
  font-weight: bolder;
  margin: 3px 0;
  display: block;
  color: black;
  font-family: initial;
}
.portSection {
  /* border: dashed; */
  font-size: 120%;
  line-height: 160%;
  margin-bottom: 30px;
  text-align: justify;
  padding: 5px;
  margin: 5px;
  border: black solid;
  background-color: lightyellow;
  font-family: serif;
}
@media only screen and (max-width: 1024px) and (min-width: 0px) .portNavMobileButton:after {
  content: "\2039";
  font-size: 180%;
  position: absolute;
  top: 0px;
  left: 5px;
  color: black;
}
@media only screen and (max-width: 1024px) and (min-width: 0px) .portNavMobileButton {
  position: absolute;
  right: -25px;
  top: 13px;
  font-size: 180%;
  color: black;
  padding: 4px 6px 8px 2px;
  background-color: wheat;
  border-radius: 0 12px 12px 0;
  line-height: 1;
  border: 1px solid black;
  border-width: 1px 1px 1px 0;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: left 300ms cubic-bezier(0.42, 0, 1, 1);
  -webkit-transition: left 300ms cubic-bezier(0.42, 0, 1, 1);
  transition: left 300ms cubic-bezier(0.42, 0, 1, 1);
  z-index: 9000;
  width: 10px;
  height: 30px;
  padding-left: 8px;
  padding-top: 8px;
  visibility: visible;
  opacity: 0.5;
}
#portNav {
  width: 230px;
  float: left;
  /* background-color: #fff; */
  background-image: url(https://i.ibb.co/QHkxqL5/footer-background-01.jpg);
  background-size: cover;
  position: fixed;
  height: 60%;
}
#portNav ul li a:hover {
  color: black;
  height: auto;
  font-size: large;
}
#portNav ul li a {
  color: white;
  height: auto;
  font-size: large;
}
#portNav {
  border: 2px dashed antiquewhite;
  border-top: none;
  border-left: none;
}
body {
  background-image: url(https://cdn1.bbcode0.com/uploads/2020/7/6/5d8eea601ece86b4cff9cc90cb34ce8b-full.jpg);
  background-repeat: no-repeat;
  /* background-position: 5% 90%; */
  background-attachment: fixed;
  /* background-color: #145065; */
  min-height: 100%;
  display: flex;
  justify-content: center;
  /* color: #0f323e; */
  background-size: cover;
}
.artifactViewBody,
.artifactAttachmentFolderBody {
  padding-top: 45px;
  background-image: url(https://cdn1.bbcode0.com/uploads/2020/7/6/5d8eea6…-full.jpg);
}
@media only screen and (max-width: 1024px) and (min-width: 0px) .artifactWrap,
  .folderContentView {
  font-size: 16px;
  background-color: rgb(0, 0, 0, 0.7);
}
.folderIndexEntryTraverseUp,
.folderIndexEntryFile,
.attachmentEntryFile,
.folderIndexEntryFolder,
.attachmentEntryFolder {
  color: white;
}
